@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.menu {
  &__card {
    width: 100%;
    font-size: 1rem;
    background: linear-gradient(180deg, rgba(146, 163, 168, 0.787) 0%, rgba(0, 0, 0, 0) 92%);
    box-shadow: 3px -5px 12px -9px rgba(0,0,0,0.66);
    height: 420px;
  }
  &__font {
    font-size: 0.9rem;
    font-family: 'Montserrat', sans-serif;
  }
  &__btn {
    background: rgba(118, 133, 139, 0.37);
    border: none;
    letter-spacing: 0.2px;
    &:hover{
      background-color: #ff8800b6;
      transition: all 0.3s ease-in-out;
    }
    &:visited {
      background-color: black;
    }
    &:focus {
      box-shadow: none;
    }
  }
  &__title {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    height: 40px;
  }
}

.img-size {
  height: 250px;
  width: 100%;
}

img {
  object-fit: cover;
}